*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
}

#menusuperior{
    width: 100% ;
    padding: 20px 0;
    background-color: #303030;
    margin: 0px;

}

#titulo-menusuperior{
    margin-left: 50px;
    margin-top: 100px;
    font-size: 60px;
    color: #ffffff;
}
#subtitulo-menusuperior{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 20px;
    color: #ffffff;
}


#menuinformacional {
  background-color: #F9F9F9;
  padding: 50px 100px;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  
}

.numerosmenuinformacional {
  font-size: 40px;
  margin: 0;
}

.textomenuinformacional {
  font-size: 20px;
  margin: 0;
}

.iteminformacional {
  display: flex;
  flex-direction: column;
}

#apresentacao{
    background-color: #ffffff;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-auto-flow: column;

}

.itemapresentacao{
    display: flex;
    flex-direction: column;
}

#tituloapresentacao{
    margin-top: 200px;
    font-size: 32px;
    margin-bottom: 30px;
}

#imagemapresentacao{
    width: 510px;
    height: auto;
    margin: 0;
    justify-self: end
}

#textoapresentacao{
    font-size: 20px;
}

#dados{
    background-color: #303030;
    padding: 10px 10px;
    text-align: center;
}

#titulodados{
    text-align: center;
    margin-top: 75px;
    margin-bottom: 40px;
    font-size: 32px;
    color: #ffffff;
}

input{
    width: 300px;
    height: 50px;
    margin-bottom: 30px;
    border: 0px;
    border-radius: 8px;
    padding-left: 10px;
}

button{
    font-size: 30px;
    color: #ffffff;
    background-color: #C07212;
    padding: 10px 20px 10px 20px;
    margin-bottom: 50px;
    margin-top: 25px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;

}

button:hover{
    background-color: #ffa536;
    transform: translate(-5px);
    box-shadow: 0px 15px 20px #0e0d0dc5;
    transition-duration: 0.5s;
}